<%- include('partials/header'); -%>

<div class="d-flex justify-content-center">
  <a href="/entries/new" class="btn btn-primary mt-3 mb-3" ><i class="bi bi-plus-lg me-3"></i>Nova Entrada</a>  
</div>

<div class="dropdown justify-content-start">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Ordenar
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/entries/credits/highest">Maiores Creditos</a>
      <a class="dropdown-item" href="/entries/credits/lowest">Menores Creditos</a>
      <a class="dropdown-item" href="/entries/debits/highest">Maiores Debitos</a>
      <a class="dropdown-item" href="/entries/debits/lowest">Menores Dreditos</a>
    </div>
    
  </div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Data</th>
        <th scope="col">Valor</th>
        <th scope="col">Identificador</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    
    <% creditos.forEach((credito)=>{ %>
        <tr>
            <td><%= credito.date.toDateString() %></td>
            <td>R$<%= credito.value %></td>
            <td><%= credito.description %></td>
            <th scope="col"><a href=<%= `/entries/${credito.id}/update` %> class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Editar</a>
            </th>
            <th scope="col"><a class="delete-link link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href=<%= `/entries/${credito.id}/delete` %>>Excluir</a>
            </th>
        </tr>
    <% })%>
    
    </tbody>
</table>
<%- include("partials/footer") %>